html {
  font-family: 'Open Sans';
}

section {
  width: 1000px;
  margin: 40px auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
}

header li {
  display: inline;
  font-size: 14px;
}

header li:not(:last-child)::after {
  content: '|';
}

header li > a {
  color: #000;
}

section > h2 {
  font-size: 18px;
  text-transform: uppercase;
}

h3 > a {
  color: #000;
  text-decoration: none;
}

h3 > .subtitle {
  font-size: 12px;
  font-weight: 400;
}

section .line {
  height: 2px;
  background-color: #000;
  margin-bottom: 20px;
}

.fz-12 {
  font-size: 12px;
}

.fw-400 {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.experience ul {
  margin-left: 20px;
}

.experience li {
  font-size: 14px;
  margin-bottom: 5px;
}

.experience .apps > li  {
  font-weight: 600;
}

.experience .apps > li  > a {
  color: #213555;
}

.text-primary {
  color: #074799;
}

.skills ul {
  list-style: none;
  margin-bottom: 20px;
}

.skills .languages li {
  display: inline-block;
  font-size: 12px;
}

.skills .languages li:not(:last-child)::after{
  content: ';';
}

.remarks {
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
}


@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  header {
    align-items: flex-start;
  }
  section {
    max-width: 300px;
    margin-left: 0px;
  }
}
